body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}




#container{
   display: grid;
   grid-template-columns: repeat(16,1fr);
   grid-template-rows: repeat(16,1fr);
   height: 500px;
   width: 500px;
   border: black solid 1px;


}

#square{
    border: solid black 1px;
    display:flex;
}

